<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../../../partials/head") %>

    <link rel="stylesheet" href="/assets/css/calculator.css">

    <script src="/assets/js/candleCalculator.js"></script>

    <title>Calculator Result - crafty.tools</title>
</head>
<body>
    <%- include("../../../partials/header", {page:"calculator/candle", user}) %>
    <main>
        <div class="wrapper container container-md">
            <div class="col-3">
                <section>
                    <h2><i class="fa-solid fa-computer-mouse-scrollwheel"></i> Actions</h2>
                    <nav class="actions">
                        <ul>
                            <li><a href="/calculator/candle"><i class="fa-solid fa-circle-plus"></i> New Calculation</a></li>
                            <% if (user) { %>
                            <% if (entry.isOwner(user._id)) { %>
                            <li><a href="/calculator/candle/<%= entry._id %>/create-batch"><i class="fa-solid fa-calendar-circle-plus"></i> Create Batch</a></li>
                            <li><a href="#" class="delete" data-id="<%= entry._id %>"><i class="fa-solid fa-trash"></i> Delete</a></li>
                            <% } else { %>
                            <li><a href="#" class="clone" data-id="<%= entry._id %>"><i class="fa-solid fa-copy"></i> Clone to your Account</a></li><% } %>
                            <% } %>
                        </ul>
                    </nav>
                </section>
                <section>
                    <h2><i class="fa-solid fa-shield-halved"></i> Privacy Settings</h2>
                    <% if (user) { %>
                    <% if (String(user._id) === String(entry.owner?._id)) { %>
                    <form class="privacy">
                        <div class="form-group">
                            <label for="visibility">Visibility</label>
                            <select name="visibility" id="visibility" data-id="<%= entry._id %>">
                                <option value="public"<%- entry.privacy === "public" ? ` selected="selected"` : "" %>>Public - Anyone with the link can view and edit</option>
                                <option value="readonly"<%- entry.privacy === "readonly" ? ` selected="selected"` : "" %>>Read-only - Anyone with the link can view</option>
                                <option value="private"<%- entry.privacy === "private" ? ` selected="selected"` : "" %>>Private - Only you can view and edit</option>
                            </select>
                        </div>
                    </form>
                    <div class="privacy-warning alert alert-danger"<%- entry.privacy === "public" ? '' : ` style="display:none;"` %>>
                        <strong>Warning!</strong>
                        <br>
                        This calculation has a privacy setting of Public. This means that anyone with the link above can view and make changes to the calculation. It's suggested to change the privacy setting to read-only or private above.
                    </div>
                    <% } else { %>
                    You must own the calculation to change privacy settings! <a href="#" class="clone" data-id="<%= entry._id %>">Clone this calculation to your account.</a>
                    <% } %>
                    <% } else { %>
                    <a href="/account/login">Log in</a> to change privacy settings.
                    <% } %>
                </section>
                <section>
                    <h2><i class="fa-solid fa-timer"></i> Recent Calculations</h2>
                    <% if (user) { %>
                    <nav class="activity">
                        <ul>
                            <% recentCalculations.forEach(activity => { %>
                            <li>
                                <a class="activity" href="/calculator/candle/<%= activity.candleEntry._id %>">
                                    <h3><%= activity.candleEntry.containers.map(x => `${x.quantity}x ${x.name}`).join(", ") %></h3>
                                    <%= activity.candleEntry.fragrances.map(x => x.name).join(" & ") %>
                                    <br>
                                    <small>
                                        <% if (activity.candleEntry._id.equals(entry._id)) { %>
                                        Current calculator entry
                                        <% } else { %>
                                        <%= relativeTime(Date.now() - activity.time) %>
                                        <% } %>
                                    </small>
                                </a>
                            </li>
                            <% }) %>
                            <% if (recentCalculations.length === 0) { %>
                            <li class="none">No calculations yet!</li>
                            <% } %>
                        </ul>
                    </nav>
                    <% } else { %>
                    <a href="/account/login">Log in</a> to track recent calculations!
                    <% } %>
                </section>
                <section>
                    <h2><i class="fa-solid fa-timer"></i> Recent Batches</h2>
                    <% if (user) { %>
                    <nav class="activity">
                        <ul>
                            <% recentBatches.forEach(activity => {
                                entry = activity.candleBatch.calculation %>
                            <li>
                                <a class="activity" href="/calculator/candle/<%= entry._id %>">
                                    <h3><%= entry.containers.map(x => `${x.quantity}x ${x.name}`).join(", ") %></h3>
                                    <%= entry.fragrances.map(x => x.name).join(" & ") %>
                                    <br>
                                    <small>
                                        <% if (entry._id.equals(entry._id)) { %>
                                        Current batch
                                        <% } else { %>
                                        <%= relativeTime(Date.now() - activity.time) %>
                                        <% } %>
                                    </small>
                                </a>
                            </li>
                            <% }) %>
                            <% if (recentCalculations.length === 0) { %>
                            <li class="none">No calculations yet!</li>
                            <% } %>
                        </ul>
                    </nav>
                    <% } else { %>
                    <a href="/account/login">Log in</a> to track recent calculations!
                    <% } %>
                </section>
            </div>
            <form class="col-9" id="calculatorResult">
                <input type="hidden" name="id" value="<%= isReadOnly ? "new" : entry._id %>">
                <section>
                    <h2><i class="fa-solid fa-calculator"></i> Calculation Results</h2>
                    <% if (isReadOnly) { %>
                    <div class="alert alert-info" onclick="$(this).slideUp(250)">
                        <strong>This is a read-only calculation.</strong>
                        <br>
                        You may make local changes below, however saving will copy this calculation to your account.
                    </div>
                    <% } %>
                    <input class="button" type="submit" value="Save<%= isReadOnly ? " to Your Account" : "" %>">
                    <div class="cont-breakdown">
                        <h2>Containers</h2>
                        <div class="containers">
                            <% entry.containers.forEach(cont => { %>
                            <div class="object cont" data-type="cont">
                                <div class="form-group">
                                    <label for="cont-<%= cont._id %>-quantity">Quantity</label>
                                    <input type="number" name="cont-quantity[<%= cont._id %>]" id="cont-<%= cont._id %>-quantity" min="1" step="1" value="<%= cont.quantity %>">
                                </div>
                                <div class="form-group name">
                                    <label for="cont-<%= cont._id %>-name">Container Name</label>
                                    <input type="text" name="cont-name[<%= cont._id %>]" id="cont-<%= cont._id %>-name" value="<%= cont.name %>">
                                </div>
                                <div class="form-group">
                                    <label for="cont-<%= cont._id %>-size">Container&nbsp;Size</label>
                                    <div class="unit-input">
                                        <input type="number" name="cont-size[<%= cont._id %>]" id="cont-<%= cont._id %>-size" min="0" step="0.01" value="<%= cont.size %>">
                                        <select class="unit">
                                            <option value="oz"<%- entry.unit === "oz" ? ' selected="selected"' : "" %>>ounces</option>
                                            <option value="g"<%- entry.unit === "g" ? ' selected="selected"' : "" %>>grams</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="remove"<%- entry.containers.length > 1 ? "" : ` style="display:none;"` %>>
                                    <a href="#" label="Remove" data-type="cont"><i class="fa-solid fa-trash"></i></a>
                                </div>
                            </div>
                            <% }) %>
                        </div>
                        <button class="button add-container" type="button"><i class="fa-solid fa-circle-plus"></i> Add Container</button>
                    </div>
                    <div class="container container-md">
                        <div class="form-group col-5">
                            <label for="buffer">Buffer</label>
                            <div class="unit-input">
                                <input type="number" name="buffer" id="buffer" step="0.01" placeholder="Extra weight to add to the batch" value="<%= entry.buffer ? entry.buffer : 0 %>">
                                <select class="unit" name="unit">
                                    <option value="oz"<%- entry.unit === "oz" ? ' selected="selected"' : "" %>>ounces</option>
                                    <option value="g"<%- entry.unit === "g" ? ' selected="selected"' : "" %>>grams</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-7">
                            <label for="fragrance-percent">Fragrance&nbsp;Percentage</label>
                            <div class="unit-input">
                                <input type="number" name="fragrance-percent" id="fragrance-percent" min="0" max="95" step="0.01" placeholder="% Fragrance of total weight" value="<%= entry.fragrancePercent %>">
                                <div class="unit unit-percent">%</div>
                            </div>
                        </div>
                    </div>
                    <div class="results">
                        <div class="total">
                            <h2>Total Product</h2>
                            <div class="num totalProduct"><%= entry.totalProduct.toFixed(entry.roundTo) %></div>
                            <div class="unit"><%= entry.longUnit %></div>
                        </div>
                        <div class="total">
                            <h2>Total Wax</h2>
                            <div class="num totalWax"><%= entry.totalWax.toFixed(entry.roundTo) %></div>
                            <div class="unit"><%= entry.longUnit %></div>
                        </div>
                        <div class="total">
                            <h2>Total Fragrance</h2>
                            <div class="num totalFragrance"><%= entry.totalFragrance.toFixed(entry.roundTo) %></div>
                            <div class="unit"><%= entry.longUnit %></div>
                        </div>
                    </div>
                    <div class="wax-breakdown">
                        <h2>Waxes</h2>
                        <div class="waxes">
                            <% entry.waxes.forEach(wax => { %>
                            <div class="object wax" data-type="wax">
                                <div class="form-group name">
                                    <label for="wax-<%= wax._id %>-name">Wax Name</label>
                                    <input type="text" name="wax-name[<%= wax._id %>]" id="wax-<%= wax._id %>-name" value="<%= wax.name %>">
                                </div>
                                <div class="form-group">
                                    <label for="wax-<%= wax._id %>-percent">Wax&nbsp;Percent</label>
                                    <div class="unit-input">
                                        <input type="number" name="wax-percent[<%= wax._id %>]" id="wax-<%= wax._id %>-percent" min="1" max="100" step="0.1" value="<%= wax.percent %>">
                                        <div class="unit unit-percent">%</div>
                                    </div>
                                </div>
                                <div class="remove"<%- entry.waxes.length > 1 ? "" : ` style="display:none;"` %>>
                                    <a href="#" label="Remove" data-type="wax"><i class="fa-solid fa-trash"></i></a>
                                </div>
                            </div>
                            <% }) %>
                        </div>
                        <button class="button add-wax" type="button"><i class="fa-solid fa-circle-plus"></i> Add Wax</button>
                        <div class="results waxResults">
                            <% entry.waxes.forEach(wax => { %>
                            <div>
                                <h2><%= wax.name %></h2>
                                <div class="num"><%= (entry.totalWax * wax.percent / 100).toFixed(entry.roundTo) %></div>
                                <div class="unit"><%= entry.longUnit %></div>
                            </div>
                            <% }) %>
                        </div>
                    </div>
                    <div class="frag-breakdown">
                        <h2>Fragrances</h2>
                        <div class="fragrances">
                            <% entry.fragrances.forEach(frag => { %>
                            <div class="object frag" data-type="frag">
                                <div class="form-group name">
                                    <label for="frag-<%= frag._id %>-name">Fragrance Name</label>
                                    <input type="text" name="frag-name[<%= frag._id %>]" id="frag-<%= frag._id %>-name" value="<%= frag.name %>">
                                </div>
                                <div class="form-group">
                                    <label for="frag-<%= frag._id %>-percent">Fragrance&nbsp;Percent</label>
                                    <div class="unit-input">
                                        <input type="number" name="frag-percent[<%= frag._id %>]" id="frag-<%= frag._id %>-percent" min="1" max="100" step="0.1" value="<%= frag.percent %>">
                                        <div class="unit unit-percent">%</div>
                                    </div>
                                </div>
                                <div class="remove"<%- entry.fragrances.length > 1 ? "" : ` style="display:none;"` %>>
                                    <a href="#" label="Remove" data-type="frag"><i class="fa-solid fa-trash"></i></a>
                                </div>
                            </div>
                            <% }) %>
                        </div>
                        <button class="button add-fragrance" type="button"><i class="fa-solid fa-circle-plus"></i> Add Fragrance</button>
                        <div class="results fragranceResults">
                            <% entry.fragrances.forEach(frag => { %>
                            <div>
                                <h2><%= frag.name %></h2>
                                <div class="num"><%= (entry.totalFragrance * frag.percent / 100).toFixed(entry.roundTo) %></div>
                                <div class="unit"><%= entry.longUnit %></div>
                            </div>
                            <% }) %>
                        </div>
                    </div>
                    <input class="button" type="submit" value="Save<%= isReadOnly ? " to Your Account" : "" %>">
                </section>
            </form>
        </div>
    </main>
    <%- include("../../../partials/footer") %>
</body>
</html>
